@using static WebTimTro.Models.SearchPhongTroOptionsVM
@using Microsoft.AspNetCore.Identity
@using WebTimTro.Data
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@section Search
    {
    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input onclick="ShowSearchOptions()" type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search...">
                </div>
            </div>
            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item lh-1 me-3">
                    <button type="button" onclick="LoadFilter()" class="btn rounded-pill btn-outline-primary">
                        <span class="tf-icons bx bx-filter"></span>&nbsp; Bộ lọc
                    </button>
                </li>
            </ul>
        </div>
    </nav>

}
    <input hidden id="loginStatus" value="@(SignInManager.IsSignedIn(User) ? 1 : 0)" />
    <div class="row mb-5 load-list" style="margin-left:10px;">
    </div>
    <input hidden id="searchStatus" value="0" />
    <div class="demo-inline-spacing" style="margin-left:20px;">
        <!-- Basic Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination" id="load-pagination">
            </ul>
        </nav>
        <!--/ Basic Pagination -->
    </div>

    <div class="modal fade show" id="searchModal" tabindex="-1" aria-modal="true" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel4">Tìm kiếm phòng trọ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="khuVuc" class="form-label">Khu vực</label>
                            <select id="khuVuc" class="form-select">
                                <option>Tất cả</option>
                                <option value="Quận 1">Quận 1</option>
                                <option value="Thủ Đức">Thành phố Thủ Đức</option>
                                <option value="Quận 3">Quận 3</option>
                                <option value="Quận 4">Quận 4</option>
                                <option value="Quận 5">Quận 5</option>
                                <option value="Quận 6">Quận 6</option>
                                <option value="Quận 7">Quận 7</option>
                                <option value="Quận 8">Quận 8</option>
                                <option value="Quận 10">Quận 10</option>
                                <option value="Quận 11">Quận 11</option>
                                <option value="Quận 12">Quận 12</option>
                                <option value="Bình Thạnh">Quận Bình Thạnh</option>
                                <option value="Bình Tân">Quận Bình Tân</option>
                                <option value="Gò Vấp">Quận Gò Vấp</option>
                                <option value="Phú Nhuận">Quận Phú Nhuận</option>
                                <option value="Tân Bình">Quận Tân Bình</option>
                                <option value="Tân Phú">Quận Tân Phú</option>
                                <option value="Bình Chánh">Huyện Bình Chánh</option>
                                <option value="Cần Giờ">Huyện Cần Giờ</option>
                                <option value="Củ Chi">Huyện Củ Chi</option>
                                <option value="Hóc Môn">Huyện Hóc Môn</option>
                                <option value="Nhà Bè">Huyện Nhà Bè</option>
                            </select>
                        </div>
                        <div class="col mb-0">
                            <label for="gia" class="form-label">Giá</label>
                            <input type="text" id="gia" class="form-control" placeholder="4000000">
                        </div>
                    </div>
                    <div class="row g-2" style="margin-top:5px;">
                        <div class="col mb-0">
                            <label for="soNguoiO" class="form-label">Số người ở</label>
                            <input type="number" id="soNguoiO" class="form-control" placeholder="2">
                        </div>
                        <div class="col mb-0">
                            <label for="tienIchLanCan" class="form-label">Tiện ích lân cận</label>
                            <input type="text" id="tienIchLanCan" class="form-control" placeholder="Trường học">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Huỷ
                    </button>
                    <button type="button" onclick="StartSearch(1)" class="btn btn-primary">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal hiển thị để thông báo cho người dùng-->
    <div class="modal fade show" id="messageModal" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalToggleLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Bạn hãy đăng nhập để thực hiện tính năng này</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade show" id="filterModal" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalScrollableTitle">Bộ lọc</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col mb-2">
                        <label for="khuVucFilter" class="form-label">Khu vực</label>
                        <select id="khuVucFilter" class="form-select">
                            <option>Tất cả</option>
                            <option value="Quận 1">Quận 1</option>
                            <option value="Thủ Đức">Thành phố Thủ Đức</option>
                            <option value="Quận 3">Quận 3</option>
                            <option value="Quận 4">Quận 4</option>
                            <option value="Quận 5">Quận 5</option>
                            <option value="Quận 6">Quận 6</option>
                            <option value="Quận 7">Quận 7</option>
                            <option value="Quận 8">Quận 8</option>
                            <option value="Quận 10">Quận 10</option>
                            <option value="Quận 11">Quận 11</option>
                            <option value="Quận 12">Quận 12</option>
                            <option value="Bình Thạnh">Quận Bình Thạnh</option>
                            <option value="Bình Tân">Quận Bình Tân</option>
                            <option value="Gò Vấp">Quận Gò Vấp</option>
                            <option value="Phú Nhuận">Quận Phú Nhuận</option>
                            <option value="Tân Bình">Quận Tân Bình</option>
                            <option value="Tân Phú">Quận Tân Phú</option>
                            <option value="Bình Chánh">Huyện Bình Chánh</option>
                            <option value="Cần Giờ">Huyện Cần Giờ</option>
                            <option value="Củ Chi">Huyện Củ Chi</option>
                            <option value="Hóc Môn">Huyện Hóc Môn</option>
                            <option value="Nhà Bè">Huyện Nhà Bè</option>
                        </select>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" onchange="SwitchTangGiam()" id="tangGiamFilter" checked="" value="true">
                        <label class="form-check-label" for="tangGiamFilter">Sắp xếp theo giá tăng dần</label>
                    </div>
                    <div class="row mb-1">
                        <div class="col mb-0">
                            <label for="giaFromFilter" class="form-label">Giá từ</label>
                            <input type="number" id="giaFromFilter" class="form-control" placeholder="1000000">
                        </div>
                        <div class="col mb-0">
                            <label for="giaToFilter" class="form-label">đến (VND)</label>
                            <input type="number" id="giaToFilter" class="form-control" placeholder="2000000">
                        </div>
                    </div>
                    <div class="col mb-2">
                        <label for="sucChuaFilter" class="form-label">Số người ở</label>
                        <input type="number" id="sucChuaFilter" class="form-control" placeholder="2">
                    </div>
                    <div class="col mb-1">
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="false" aria-controls="accordionOne">
                                    Các dịch vụ đi kèm
                                </button>
                            </h2>

                            <div id="accordionOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                <div class="accordion-body" id="dichVuPhongTroFilter">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" class="btn btn-primary" onclick="StartFilter(1, 0)">Lọc</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        $(function() {
            $('#searchStatus').val(0);
            // function load pagination
            var load = function(txtSearch, page) {
                $.ajax({
                    url: '/Home/GetAllPost',
                    type: 'get',
                    data: { txtSearch: txtSearch, page: page },
                    success: function(result) {
                        console.log(result);
                        var str = "";
                        $.each(result.data, function(index, value) {
                            str += '<div class="col-md-6 col-lg-4">';
                            str += '<h6 class="mt-2 text-muted"></h6>';
                            str += '<div class="card">';
                            str += '<img style="width:338px;height:225px;" class="card-img-top" src="/images/' + result.firstHinhAnhs[index] + '" alt="Card image cap">';
                            str += '<div class="card-body">';
                            str += '<h5 class="card-title">' + value.ten + '</h5>';
                            str += '<p class="card-text">' + value.sucChua + ' người ở</p>';
                            str += '</div>';
                            str += '<ul class="list-group list-group-flush">';
                            str += '<li class="list-group-item">' + result.someDichVu[index] + '</li>';
                            str += '<li class="list-group-item">Giá: ' + formatCurrency(value.gia) + ' VND </li>';
                            str += '</ul>';
                            str += '<div class="card-body row">';
                            str += '<div id="numbersOfLike' + value.id + '" class="card-text col-lg-2">' + result.quanTams[index] + '</div>';
                            str += '<div class="card-text col-lg-7"> người quan tâm</div>'
                            str += '</div>';
                            str += '<div class="card-body">';
                            str += '<a id="isQuanTamPhongTro' + value.id + '" style="cursor:pointer;" onclick="QuanTam(' + value.id + ')" class="card-link">';
                            str += '' + result.favStatusList[index] + '</a>';
                            str += '<a href="/Home/Detail/' + value.id + '" class="card-link">Xem phòng trọ</a>';
                            str += '<a id="isSavedPhongTro' + value.id + '" style="cursor:pointer;" onclick="Save(' + value.id + ')" class="card-link">';
                            str += '' + result.savedStatusList[index] + '</a>';
                            str += '</div>';
                            str += '</div>';
                            str += '</div>';

                            // Create pagination
                            var pagination_string = "";
                            var pageCurrent = result.pageCurrent;
                            var numSize = result.numSize;

                            // Create button previous
                            if (pageCurrent > 1) {
                                var pagePrevious = pageCurrent - 1;
                                pagination_string += '<li class="page-item">';
                                pagination_string += '<a class="page-link" href="" data-page="' + pagePrevious + '">Previous</a>';
                                pagination_string += '</li>';
                            }

                            for (var i = 1; i <= numSize; i++) {
                                if (i == pageCurrent) {
                                    pagination_string += '<li class="page-item active">';
                                    pagination_string += '<a class="page-link" href="" data-page="' + i + '">' + pageCurrent + '</a>';
                                    pagination_string += '</li>';
                                } else {
                                    pagination_string += '<li class="page-item">';
                                    pagination_string += '<a class="page-link" href="" data-page="' + i + '">' + i + '</a>';
                                    pagination_string += '</li>';
                                }
                            }

                            // Create button next
                            if (pageCurrent > 0 && pageCurrent < numSize) {
                                var pageNext = pageCurrent + 1;
                                pagination_string += '<li class="page-item">';
                                pagination_string += '<a class="page-link" href="" data-page="' + pageNext + '">Next</a>';
                                pagination_string += '</li>';
                            }

                            // Load pagination
                            $("#load-pagination").html(pagination_string);
                        });

                        // Load str to class="load-list"
                        $(".load-list").html(str);
                    }
                });
            }



            // Click event pagination
            $("body").on("click", ".pagination li a", function(event) {
                event.preventDefault();
                var page = $(this).attr('data-page');
                var searchStatus = $('#searchStatus').val();

                if (searchStatus == 0) {
                    console.log('searchStatus: ' + searchStatus);
                    // Load event pagination
                    var txtSearch = $('.txtSearch').val();
                    if (txtSearch != "") {
                        load(txtSearch, page);
                    } else {
                        load(null, page);
                    }
                } else if (searchStatus == 1) {
                    console.log('searchStatus: ' + searchStatus);
                    StartSearch(page);
                } else {
                    console.log('searchStatus: ' + searchStatus);
                    StartFilter(page, 1);
                }

            });

            // Click event search
            //$('#search').click(function() {
            //    var txtSearch = $('.txtSearch').val();
            //    if(txtSearch != ''){
            //        load(txtSearch, 1);
            //    } else {
            //        load(null, 1);
            //        }
            //    });
            //});

            // Load init
            load(null, 1);
        });


        function Save(id) {
            var loginStatus = $('#loginStatus').val();
            if (loginStatus == 0) {
                $('#messageModal').modal('show');
            } else {
                var isSaved = $('#isSavedPhongTro' + id).html();
                console.log(isSaved);
                if (isSaved.trim() == "Lưu") {
                    $.ajax({
                        url: '/Home/SavePhongTro',
                        method: 'post',
                        data: { id: id },
                        success: function(result) {
                            if (result.status == "ok") {
                                $('#isSavedPhongTro' + id).html('Đã lưu');
                            }
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                } else {
                    $.ajax({
                        url: '/Home/UnSavePhongTro',
                        method: 'post',
                        data: { id: id },
                        success: function(result) {
                            if (result.status == "ok") {
                                $('#isSavedPhongTro' + id).html('Lưu');
                            }
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                }
            }


        }

        function QuanTam(id) {
            var loginStatus = $('#loginStatus').val();
            if (loginStatus == 0) {
                $('#messageModal').modal('show');
            } else {
                var isSaved = $('#isQuanTamPhongTro' + id).html();
                console.log(isSaved);

                var numOfLike = $('#numbersOfLike' + id).html();
                console.log('numbers of like: ' + numOfLike);

                if (isSaved.trim() == "Quan tâm") {
                    console.log('Đang quan tâm phòng trọ ' + id);
                    $.ajax({
                        url: '/Home/QuanTamPhongTro',
                        method: 'post',
                        data: { id: id },
                        success: function(result) {
                            if (result.status == "ok") {
                                console.log('Đã quan tâm phòng trọ ' + id);
                                $('#isQuanTamPhongTro' + id).html('Đã quan tâm');

                                // Tăng số lượng like lên 1 đơn vị
                                var recentNumOfLike = eval(numOfLike) + 1;
                                console.log('so like hien tai: ' + recentNumOfLike);
                                $('#numbersOfLike' + id).html(recentNumOfLike);
                            }
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                } else {
                    console.log('Đang bỏ quan tâm phòng trọ ' + id);
                    $.ajax({
                        url: '/Home/BoQuanTamPhongTro',
                        method: 'post',
                        data: { id: id },
                        success: function(result) {
                            if (result.status == "ok") {
                                console.log('Đã bỏ quan tâm phòng trọ ' + id);
                                $('#isQuanTamPhongTro' + id).html('Quan tâm');

                                // Giảm số lượng like lên 1 đơn vị
                                var recentNumOfLike = eval(numOfLike) - 1;
                                console.log('so like hien tai: ' + recentNumOfLike);
                                $('#numbersOfLike' + id).html(recentNumOfLike);
                            }
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                }
            }

        }

        function ShowSearchOptions() {
            $('#searchModal').modal('show');
        }

        function StartSearch(page) {

            var khuVuc = $('#khuVuc').val();
            var gia = $('#gia').val();
            var soNguoiO = $('#soNguoiO').val();
            var tienIchLanCan = $('#tienIchLanCan').val();

            const searchOptions = {
                khuVuc: khuVuc,
                gia: gia,
                soNguoiO: soNguoiO,
                tienIchLanCan: tienIchLanCan
            }

            console.log(searchOptions);

            console.log('search result on page: ' + page);

            $.ajax({
                url: '/Home/SearchPhongTro',
                method: 'post',
                data: { searchOptions: searchOptions, page: page },
                success: function(result) {

                    $('#searchModal').modal('hide');
                    console.log(result.data);
                    var str = "";
                    $.each(result.data, function(index, value) {
                        str += '<div class="col-md-6 col-lg-4">';
                        str += '<h6 class="mt-2 text-muted"></h6>';
                        str += '<div class="card">';
                        str += '<img class="card-img-top" style="width:338px;height:225px;" src="/images/' + result.firstHinhAnhs[index] + '" alt="Card image cap">';
                        str += '<div class="card-body">';
                        str += '<h5 class="card-title">' + value.ten + '</h5>';
                        str += '<p class="card-text">' + value.sucChua + ' người ở</p>';
                        str += '</div>';
                        str += '<ul class="list-group list-group-flush">';
                        str += '<li class="list-group-item">' + result.someDichVu[index] + '</li>';
                        str += '<li class="list-group-item">Giá: ' + formatCurrency(value.gia) + ' VND </li>';
                        str += '</ul>';
                        str += '<div class="card-body row">';
                        str += '<div id="numbersOfLike' + value.id + '" class="card-text col-lg-2">' + result.quanTams[index] + '</div>';
                        str += '<div class="card-text col-lg-7"> người quan tâm</div>'
                        str += '</div>';
                        str += '<div class="card-body">';
                        str += '<a id="isQuanTamPhongTro' + value.id + '" style="cursor:pointer;" onclick="QuanTam(' + value.id + ')" class="card-link">';
                        str += '' + result.favStatusList[index] + '</a>';
                        str += '<a href="/Home/Detail/' + value.id + '" class="card-link">Xem phòng trọ</a>';
                        str += '<a id="isSavedPhongTro' + value.id + '" style="cursor:pointer;" onclick="Save(' + value.id + ')" class="card-link">';
                        str += '' + result.savedStatusList[index] + '</a>';
                        str += '</div>';
                        str += '</div>';
                        str += '</div>';

                        // Create pagination
                        var pagination_string = "";
                        var pageCurrent = result.pageCurrent;
                        var numSize = result.numSize;

                        // Create button previous
                        if (pageCurrent > 1) {
                            var pagePrevious = pageCurrent - 1;
                            pagination_string += '<li class="page-item">';
                            pagination_string += '<a class="page-link" href="" data-page="' + pagePrevious + '">Previous</a>';
                            pagination_string += '</li>';
                        }

                        for (var i = 1; i <= numSize; i++) {
                            if (i == pageCurrent) {
                                pagination_string += '<li class="page-item active">';
                                pagination_string += '<a class="page-link" href="" data-page="' + i + '">' + pageCurrent + '</a>';
                                pagination_string += '</li>';
                            } else {
                                pagination_string += '<li class="page-item">';
                                pagination_string += '<a class="page-link" href="" data-page="' + i + '">' + i + '</a>';
                                pagination_string += '</li>';
                            }
                        }

                        // Create button next
                        if (pageCurrent > 0 && pageCurrent < numSize) {
                            var pageNext = pageCurrent + 1;
                            pagination_string += '<li class="page-item">';
                            pagination_string += '<a class="page-link" href="" data-page="' + pageNext + '">Next</a>';
                            pagination_string += '</li>';
                        }

                        // Load pagination
                        $("#load-pagination").html(pagination_string);
                    });
                    // Load str to class="load-list"
                    $(".load-list").html(str);
                    // Set trạng thái search là 1
                    // để khi ấn các nút phân trang
                    // nó sẽ chạy hàm StartSearch
                    // thay vì hàm load mặc định
                    $('#searchStatus').val(1);

                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function formatCurrency(numb) {
            var str = numb.toString().split(".");
            str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return str.join(".");
        }


        function LoadFilter() {
            $.ajax({
                url: '/Home/GetAllServices',
                method: 'get',
                success: function(result) {
                    if (result.status == "ok") {
                        var str = '<div class="demo-inline-spacing mt-3">';
                        str += '<ul class="list-group">';
                        $.each(result.data, function(index, value) {
                            str += '<label class="list-group-item">';
                            str += '<input class="form-check-input me-1" type="checkbox" value="' + value.id + '">';
                            str += value.ten;
                            str += '</label>';
                        });
                        str += '</ul>';
                        str += '</div>';

                        $('#dichVuPhongTroFilter').html(str);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });


            $('#filterModal').modal('show');
        }

        function SwitchTangGiam(){
            if ($('#tangGiamFilter').is(':checked')) {
                $('#tangGiamFilter').attr('value', 'true');
            } else {
                $('#tangGiamFilter').attr('value', 'false');
            }
            //console.log($('#tangGiamFilter').val());
        }

        function StartFilter(page, filterStatus){
            var khuVuc = $('#khuVucFilter').val();
            var sortStatus = $('#tangGiamFilter').val();
            var giaFrom = $('#giaFromFilter').val();
            var giaTo = $('#giaToFilter').val();
            var sucChua = $('#sucChuaFilter').val();
            
            // Lấy các dịch vụ chủ trọ đã check
            // lưu vào mảng để có thể truyền qua controller
            var val = [];
            $(':checkbox:checked').each(function(i){
              val[i] = $(this).val();
            });
            console.log(val);

            const filterOptions = {
                khuVuc: khuVuc,
                sortStatus: sortStatus,
                giaFrom: giaFrom,
                giaTo: giaTo,
                sucChua: sucChua
            }

            console.log(filterOptions);

            console.log('filter result on page: ' + page);

            $.ajax({
                url: '/Home/FilterPhongTro',
                method: 'post',
                data: { filterOptions: filterOptions, dichVus: val, page: page, filterStatus: filterStatus },
                success: function(result) {

                    $('#filterModal').modal('hide');
                    console.log(result.data);
                    var str = "";
                    $.each(result.data, function(index, value) {
                        str += '<div class="col-md-6 col-lg-4">';
                        str += '<h6 class="mt-2 text-muted"></h6>';
                        str += '<div class="card">';
                        str += '<img class="card-img-top" style="width:338px;height:225px;" src="/images/' + result.firstHinhAnhs[index] + '" alt="Card image cap">';
                        str += '<div class="card-body">';
                        str += '<h5 class="card-title">' + value.ten + '</h5>';
                        str += '<p class="card-text">' + value.sucChua + ' người ở</p>';
                        str += '</div>';
                        str += '<ul class="list-group list-group-flush">';
                        str += '<li class="list-group-item">' + result.someDichVu[index] + '</li>';
                        str += '<li class="list-group-item">Giá: ' + formatCurrency(value.gia) + ' VND </li>';
                        str += '</ul>';
                        str += '<div class="card-body row">';
                        str += '<div id="numbersOfLike' + value.id + '" class="card-text col-lg-2">' + result.quanTams[index] + '</div>';
                        str += '<div class="card-text col-lg-7"> người quan tâm</div>'
                        str += '</div>';
                        str += '<div class="card-body">';
                        str += '<a id="isQuanTamPhongTro' + value.id + '" style="cursor:pointer;" onclick="QuanTam(' + value.id + ')" class="card-link">';
                        str += '' + result.favStatusList[index] + '</a>';
                        str += '<a href="/Home/Detail/' + value.id + '" class="card-link">Xem phòng trọ</a>';
                        str += '<a id="isSavedPhongTro' + value.id + '" style="cursor:pointer;" onclick="Save(' + value.id + ')" class="card-link">';
                        str += '' + result.savedStatusList[index] + '</a>';
                        str += '</div>';
                        str += '</div>';
                        str += '</div>';

                        // Create pagination
                        var pagination_string = "";
                        var pageCurrent = result.pageCurrent;
                        var numSize = result.numSize;

                        // Create button previous
                        if (pageCurrent > 1) {
                            var pagePrevious = pageCurrent - 1;
                            pagination_string += '<li class="page-item">';
                            pagination_string += '<a class="page-link" href="" data-page="' + pagePrevious + '">Previous</a>';
                            pagination_string += '</li>';
                        }

                        for (var i = 1; i <= numSize; i++) {
                            if (i == pageCurrent) {
                                pagination_string += '<li class="page-item active">';
                                pagination_string += '<a class="page-link" href="" data-page="' + i + '">' + pageCurrent + '</a>';
                                pagination_string += '</li>';
                            } else {
                                pagination_string += '<li class="page-item">';
                                pagination_string += '<a class="page-link" href="" data-page="' + i + '">' + i + '</a>';
                                pagination_string += '</li>';
                            }
                        }

                        // Create button next
                        if (pageCurrent > 0 && pageCurrent < numSize) {
                            var pageNext = pageCurrent + 1;
                            pagination_string += '<li class="page-item">';
                            pagination_string += '<a class="page-link" href="" data-page="' + pageNext + '">Next</a>';
                            pagination_string += '</li>';
                        }

                        // Load pagination
                        $("#load-pagination").html(pagination_string);
                    });
                    // Load str to class="load-list"
                    $(".load-list").html(str);
                    // Set trạng thái search là 2
                    // để khi ấn các nút phân trang
                    // nó sẽ chạy hàm StartFilter
                    // thay vì chạy hàm load mặc định
                    $('#searchStatus').val(2);

                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
    </script>