
@{
    ViewData["Title"] = "PaymentResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin-left: 20px; margin-right: 20px; margin-top: 30px; padding:15px;">
    <header>
        <h1>Kết quả đặt trọ</h1>
        <p>@ViewBag.Message</p>
        <a href="/Home/Index">Quay về trang chủ</a>
    </header>
</div>