@model List<WebTimTro.Models.DichVuVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" style="margin: 20px 5px 20px 5px; ">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Danh sách các dịch vụ hiện tại</h5>
                <small class="text-muted float-end" style="cursor: pointer;" onclick="ChangeToCreate()">Thêm dịch vụ</small>
            </div>
            <div class="card-body">
                <div class="card">
                    <h5 class="card-header">Danh sách các dịch vụ hiện tại</h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tên dịch vụ</th>
                                    <th>Icon</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0" id="listDichVu">
                                    @foreach (var item in Model)
                                    {
                                        <tr id="rowDichVu_@item.Id">
                                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Id</strong></td>
                                            <td id="tenDichVu_@item.Id">@item.Ten</td>
                                            <td>
                                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Lilian Fuller">
                                                        <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle">
                                                    </li>
                                                    @*<li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Sophia Wilkerson">
                                                        <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle">
                                                    </li>
                                                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Christina Parker">
                                                        <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle">
                                                    </li>*@
                                                </ul>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" onclick="UpdateDichVu(@item.Id)"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                        <a class="dropdown-item" onclick="DeleteDichVu(@item.Id)"><i class="bx bx-trash me-1"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0" id="createUpdateTitle">Tạo mới dịch vụ</h5>
                <small class="text-muted float-end"></small>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-fullname">Tên dịch vụ</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-info-circle"></i></span>
                            <input type="text" class="form-control" id="tenDichVu" placeholder="Tên dịch vụ phòng trọ cung cấp"
                            aria-label="John Doe" aria-describedby="basic-icon-default-fullname2">
                        </div>
                    </div>
                    <input id="dichVuId" hidden />
                    @*<div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Icon dịch vụ</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            <input type="text" id="basic-icon-default-company" class="form-control" placeholder="ACME Inc." aria-label="ACME Inc." aria-describedby="basic-icon-default-company2">
                        </div>
                    </div>*@
                    <input id="createUpdateButton"
                    type="button" class="btn btn-primary"
                    onclick="SaveDichVu()" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function SaveDichVu() {
    var saveOrUpdate = $('#createUpdateButton').val();
    if(saveOrUpdate == "Save") {
        var tenDichVu = $('#tenDichVu').val();
    const dichVu = {
        ten: tenDichVu
    };
    console.log('creating ' + tenDichVu);
    
    $.ajax({
        url: '/DichVu/SaveDichVu',
        method: 'post',
        data: {dichVu: dichVu},
        success: function(result){
            if(result.status == "ok"){
                console.log('created ' + tenDichVu);
                console.log(result.data);

                var str = '';
                str += '<tr id="rowDichVu_'+ result.data.id +'">';
                str += '<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>'+ result.data.id +'</strong></td>';
                str += '<td id="tenDichVu_'+ result.data.id +'">'+ result.data.ten +'</td>';
                str += '<td>';
                str += '<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">';
                str += '<li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Lilian Fuller">';
                str += '<img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle">';
                str += '</li>';
                str += '</ul>';
                str += '</td>';
                str += '<td>';
                str += '<div class="dropdown">';
                str += '<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">';
                str += '<i class="bx bx-dots-vertical-rounded"></i>';
                str += '</button>';
                str += '<div class="dropdown-menu">';
                str += '<a class="dropdown-item" onclick="UpdateDichVu('+ result.data.id +')"><i class="bx bx-edit-alt me-1"></i> Edit</a>';
                str += '<a class="dropdown-item" onclick="DeleteDichVu('+ result.data.id +')"><i class="bx bx-trash me-1"></i> Delete</a>';
                str += '</div>';
                str += '</div>';
                str += '</td>';
                str += '</tr>';

                $('#listDichVu').append(str);
            }
        },
        error: function(err){
            console.log(err);
        }
    });
    } else {
        var id = $('#dichVuId').val();
        var tenDichVu = $('#tenDichVu').val();
        const dichVu = {
            id: id,
            ten: tenDichVu
        };

        $.ajax({
            url: '/DichVu/UpdateDichVu',
            method: 'post',
            data: {dichVu: dichVu},
            success: function(result){
                if(result.status == "ok"){
                    $('#tenDichVu_' + id).html(tenDichVu);
                }
            },
            error: function(err){
                console.log(err);
            }
        });
    }
}

function UpdateDichVu(id) {
    $('#createUpdateTitle').html('Cập nhật dịch vụ');
    $('#createUpdateButton').val('Update');
    console.log('updating dich vu ' + id);

    $.ajax({
        url: '/DichVu/GetDichVuById',
        method: 'post',
        data: {id: id},
        success: function(result){
            if(result.status == "ok"){
                $('#tenDichVu').val(result.data.ten);
                $('#dichVuId').val(result.data.id);
            }
        },
        error: function(err){
            console.log(err);
        }
    });
}

function ChangeToCreate(){
    $('#createUpdateTitle').html('Tạo mới dịch vụ');
    $('#createUpdateButton').val('Save');
}

function DeleteDichVu(id){
    $.ajax({
        url: '/DichVu/DeleteDichVuById',
        method: 'post',
        data: {id: id},
        success: function(result){
            if(result.status == "ok"){
                $('#rowDichVu_' + id).hide();
            }
        },
        error: function(err){
            console.log(err);
        }
    });
}
</script>