@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="card" style="margin-left: 20px; margin-right: 20px; margin-top: 30px; padding:15px;">
    <h1>@ViewData["Title"]</h1>
</div>